Repository fitiskin/jquery-autocompleter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix --cache",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ]
}

Upgrade dependencies
  .eslintignore
  .eslintrc
  README.md
  package-lock.json
  package.json
  src/jquery.autocompleter.js
Due: eslint --fix --cache, prettier --write

Delete Bower :(
  README.md
  bower.json
Due: prettier --write

Empty test script added
  package.json
Due: none

0.4.0
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ fitiskin/jquery-autocompleter@953d9a90a9c1c4e5cd9d50a94acf2aea4e14ab39 🚀
  .gitignore
  assets/bg.982cfbbf.png
  assets/icon.3a893e50.png
  assets/index.d33f5cb8.css
  assets/index.e5c88502.js
  css/main.css
  css/normalize.css
  github-btn.html
  index.html
  js/main.js
  js/vendor/jquery-1.11.0.min.js
  js/vendor/modernizr-2.8.0.min.js
  src/jquery.autocompleter.js
Due: eslint --fix --cache, prettier --write

Move example from gh-pages
  .eslintignore
  .github/workflows/build.yml
  README.md
  examples/demo/README.md
  examples/demo/index.html
  examples/demo/package-lock.json
  examples/demo/package.json
  examples/demo/src/bg.png
  examples/demo/src/data.js
  examples/demo/src/icon.png
  examples/demo/src/index.js
  examples/demo/src/normalize.css
  examples/demo/src/styles.css
Due: eslint --fix --cache, prettier --write

Deploying to gh-pages from @ fitiskin/jquery-autocompleter@52b4d5b7d90b7e9f4d915f9ce3db8dcba7ec04a3 🚀
  assets/index.7be91347.css
  assets/index.d33f5cb8.css
  index.html
Due: prettier --write

fix README.md http issues
  README.md
  examples/demo/README.md
  examples/demo/index.html
Due: prettier --write

Deploying to gh-pages from @ fitiskin/jquery-autocompleter@cf7f1fc700eb08fdf373d0dcb9209d808e9acb46 🚀
  index.html
Due: none

New option "format" added
  src/jquery.autocompleter.js
Due: eslint --fix --cache, prettier --write

0.5.0
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: prettier --write

onListOpen/onListClose events added
  README.md
  src/jquery.autocompleter.js
Due: eslint --fix --cache, prettier --write

Update example README.md
  README.md
Due: prettier --write

0.6.0
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ fitiskin/jquery-autocompleter@eed6b1bfaaa0fe39f79015a25807040d31840b26 🚀
  assets/index.10f804d7.js
  assets/index.e5c88502.js
  index.html
Due: eslint --fix --cache, prettier --write

Upgrade dependencies
  package-lock.json
  package.json
Due: none

master -> main renamed
  .github/workflows/build.yml
Due: none

#47 Fixes ul/hint click
  examples/demo/src/styles.css
  src/jquery.autocompleter.css
  src/jquery.autocompleter.js
Due: eslint --fix --cache, prettier --write

Deploying to gh-pages from @ fitiskin/jquery-autocompleter@b03b2999fe99432ea5ef8d8b9bef2233f4de58dc 🚀
  assets/index.1804fea7.css
  assets/index.3e6b3764.js
  assets/index.7be91347.css
  index.html
Due: eslint --fix --cache, prettier --write

0.7.0
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ fitiskin/jquery-autocompleter@044be793593956c77bf6cc3c0735b9db0c1fb800 🚀
  assets/index.3e6b3764.js
  assets/index.e5c88502.js
  index.html
Due: eslint --fix --cache, prettier --write
